<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<title>Target Info List</title>
<!-- bootstrap css -->
<link rel="stylesheet" href="/css/bootstrap.css">

<!-- Jquery & bootstrap -->
<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script type="text/javascript">
	var storedData;
	
	/* 
	<div class="row mx-md-n5">
		<div class="col px-md-5">
			<div class="p-3 border bg-light">Columns1</div>
		</div>
		<div class="col px-md-5">
			<div class="p-3 border bg-light">Columns2</div>
		</div>
		<div class="col px-md-5">
			<div class="p-3 border bg-light">Columns2</div>
		</div>
	</div> 
	
	*/
	
	
	function init(json){
		console.log(json);
		var len = json.data.length;
		console.log(len);
		console.log(json.data);
		var col = Object.getOwnPropertyNames(json.data[0]);
		// table header column
		var divRow = "";
		var colCnt = 0;	

		
		for (var j = 0; j < len; j++) {

			console.log("execute");
			if(colCnt == 0){
				divRow = "";
				divRow += "<div class='row mx-md-n5'>";					// div : row mx-md-n5
			}
				divRow += "<div class='col px-md-5'>";
				divRow += "<div class='p-3 border bg-light'>";
				divRow += json.data[j]['tgSite'];
				divRow += "</div>";
				divRow += "</div>";

			if(colCnt == 2){
				colCnt = -1;
				divRow += '</div>';										// div : row mx-md-n5
				console.log('divRow ' + divRow);
				$('#monitorDiv').append(divRow);
			}else{
				colCnt++;
			}
		}
	}
	
	function getJsonVal(obj){
		if (typeof obj === "undefined"){
			return "";
		}else{
			return obj;
		}
	}
	
	
	function getListData() {
		var reqData = new Object();
		reqData.tgSite = "";
		$.ajax({
			url : "/tgt/getListData",
			data : JSON.stringify(reqData),
			contentType : 'application/json',
			type : "POST",
			dataType : "json"
		})
		// when complete	
		.done(function(json){
			init(json);
		})
		// when error	
		.fail(function(xhr, status, errorThrown) {

		})
		// always
		.always(function(xhr, status) {

		});
	}

	function modifyData() {

		var reqData = new Object();
		reqData.tgSite = $('#edtTgSite').val();
		reqData.seq = $('#edtSeq').val();
		console.log(reqData);
		
		
		$.ajax({
			url : "/tgt/modifyData",
			data : JSON.stringify(reqData),
			contentType : 'application/json',
			type : "POST",
			dataType : "json"
		})
		// when complete	
		.done(function(json) {
			$('#edtTgSite')	.val('');
			alert("정상 처리 되었습니다.");
			getListData();
		})
		// when error	
		.fail(function(xhr, status, errorThrown) {
			alert("오류가 발생 하였습니다.");
		})
		// always
		.always(function(xhr, status) {

		});
	}

	function addData(json) {
		storedData = json;
		var len = json.data.length;
		var col = Object.getOwnPropertyNames(json.data[0]);
		// table header column
		var thead = $('#theader').children("tr").children();
		var rowData = '';
		// row
		for (var i = 0; i < len; i++) {
			rowData = '';
			rowData += '<tr>';
			// column - JSON의 경우 순서 보장안됨
			for (var j=0; j<thead.length; j++){
				rowData += '<td onClick="rowModify(' + i + ')">';
				rowData += json.data[j][$(thead[j]).attr("id")];
				rowData += '</td>';
			}
			rowData += '</tr>';
			$('#tgtList').append(rowData);
		}
		$('#newBtn')	.removeAttr("disabled");
	}

	
	function newData() {
		
		// 1. disabled 제거
		$('#edtTgSite')	.removeAttr("disabled");
		
		// 2. button disabled 제거
		$('#regBtn')	.removeAttr("disabled");
		
		// 3. button disabled 추가
		$('#modBtn')	.attr("disabled", true);
		$('#delBtn')	.attr("disabled", true);
		
		// 4. Data 초기화
		$('#edtTgSite')	.val('');
		
		// 5. new 버튼 비활성화
		$('#newBtn')	.attr("disabled", true);

	}
	
	function regData() {
		var reqData = new Object();
		reqData.tgSite = $("#edtTgSite").val();
		console.log(reqData);
		$.ajax({
			url : "/tgt/regData",
			data : JSON.stringify(reqData),
			contentType : 'application/json',
			type : "POST",
			dataType : "json"
		})
		// when complete	
		.done(function(json) {
			alert("정상 등록 되었습니다.");
			getListData();
			
		})
		// when error	
		.fail(function(xhr, status, errorThrown) {
			alert("오류가 발생 하였습니다.");
		})
		// always
		.always(function(xhr, status) {

		});
	}
	
	function delData() {
		var reqData = new Object();
		reqData.tgSite = $("#edtTgSite").val();
		reqData.seq = $("#edtSeq").val();
		console.log("Delete : " +JSON.stringify(reqData));
		$.ajax({
			url : "/tgt/delData",
			data : JSON.stringify(reqData),
			contentType : 'application/json',
			type : "POST",
			dataType : "json"
		})
		// when complete	
		.done(function(json) {
			$('#tgSite')	.val('');
			alert("삭제가 완료되었습니다.");
			getListData();
		})
		// when error	
		.fail(function(xhr, status, errorThrown) {
			alert("오류가 발생 하였습니다.");
		})
		// always
		.always(function(xhr, status) {

		});
	}
	
	function delRow() {
		$('#tgtList > tbody > tr').remove();
	}

	function rowModify(row) {
		// 값 세팅
		$('#edtTgSite')	.val(storedData.data[row].tgSite);
		$('#edtSeq')	.val(storedData.data[row].seq);
		$('#edtTgSite')	.removeAttr('disabled');
		$('#regBtn')	.attr('disabled', true);
		$('#modBtn')	.removeAttr('disabled');
		$('#delBtn')	.removeAttr('disabled');
		$('#newBtn')	.removeAttr('disabled');
	}
	
	
	
	
	
	
	
	
</script>

<!-- <link rel="stylesheet" href="/css/bootstrap.min.css"> -->
</head>
<body onload="getListData()">

	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<a class="navbar-brand" href="#">Monitoring</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse"
			data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup"
			aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
			<div class="navbar-nav">
				<a class="nav-item nav-link active" href="monitor">System Status
					<span class="sr-only">(current)</span>
				</a> <a class="nav-item nav-link" href="getList">System List</a> <a
					class="nav-item nav-link" href="#">Java Process</a>
			</div>
		</div>
	</nav>
	<div class="container">
		<div class="row justify-content-md-center">
			<h1>System Status</h1>
		</div>
		<div id="monitorDiv"></div>

	</div>
</body>
</html>